.row{
    background-color: #00358e;
}
footer{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}